/* General Styles */
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  background-color: #000;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .name {
  margin: 0;
  font-size: 1.5rem;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #f39c12;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Section Styles */
section {
  padding: 4rem 2rem;
  text-align: center;
}

#about, #skills, #education, #contact, #projects {
  background-color: #000000;
  color: white;
}

/* My Projects Section */
#projects {
  position: relative;
  padding: 4rem 2rem;
  text-align: center;
}

#projects h2 {
  font-size: 2em;
  z-index: 10;
  position: relative;
}

#image-track {
  display:flow-root;
  gap: 10vmin;
  position: relative;
  
  user-select: none;
  cursor: grab; /* Indicate draggable content */
}

#image-track:active {
  cursor: grabbing; /* Indicate dragging state */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-in-out;
}

/* Responsive Adjustments */
@media (max-width: 800px) {
  #image-track > .image {
    width: 60vmin;
    height: 84vmin;
  }

  #projects h2 {
    font-size: 1.5em;
  }
}